In [3]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

In [4]:
#日期和时间数据的类型及工具

In [5]:
from datetime import datetime

In [6]:
now = datetime.now()

In [7]:
now

datetime.datetime(2019, 3, 14, 19, 47, 14, 87365)

In [8]:
now.year

2019

In [9]:
now.month

3

In [10]:
date=datetime(2019,1,23)-datetime(2018,1,23)

In [11]:
date

datetime.timedelta(days=365)

In [12]:
date.days

365

In [13]:
datetime.date

In [14]:
a=datetime(2019,1,23)

In [15]:
a

datetime.datetime(2019, 1, 23, 0, 0)

In [16]:
a.time

In [17]:
now.date()

datetime.date(2019, 3, 14)

In [18]:
now.time()

datetime.time(19, 47, 14, 87365)

In [19]:
a.date()

datetime.date(2019, 1, 23)

In [20]:
#字符串与datetime互相转化

In [21]:
stamp=datetime(2001,1,1)

In [22]:
stamp

datetime.datetime(2001, 1, 1, 0, 0)

In [23]:
date1=str(stamp)
date1

'2001-01-01 00:00:00'

In [24]:
stamp

datetime.datetime(2001, 1, 1, 0, 0)

In [25]:
date=stamp.strftime('%Y-%m-%d')

In [26]:
type(date1)

str

In [27]:
datetime.strptime('2013-3-27','%Y-%m-%d')

datetime.datetime(2013, 3, 27, 0, 0)

In [28]:
#时间序列基础

In [29]:
from datetime import datetime

In [30]:
dates=[datetime(2011,1,1),datetime(2011,1,2),
      datetime(2011,1,3),datetime(2011,1,4),
      datetime(2011,1,5),datetime(2011,1,6)]

In [31]:
ts=pd.Series(np.random.randn(6),index=dates)

In [32]:
ts

2011-01-01   -0.740219
2011-01-02   -0.993307
2011-01-03   -0.756372
2011-01-04    0.414256
2011-01-05   -0.955890
2011-01-06   -0.684559
dtype: float64

In [33]:
ts+ts[::2]

2011-01-01   -1.480437
2011-01-02         NaN
2011-01-03   -1.512743
2011-01-04         NaN
2011-01-05   -1.911781
2011-01-06         NaN
dtype: float64

In [34]:
#索引、选择、子集

In [35]:
stamp=ts.index[2]

In [36]:
stamp

Timestamp('2011-01-03 00:00:00')

In [37]:
ts[stamp]

-0.7563716581095459

In [38]:
long_ts=pd.Series(np.random.randn(1000),
                 index=pd.date_range('1/1/2000',periods=1000))

In [39]:
long_ts

2000-01-01   -1.302760
2000-01-02    0.037267
2000-01-03    0.228174
2000-01-04    0.769923
2000-01-05    1.637002
2000-01-06    0.158618
2000-01-07    0.290983
2000-01-08   -0.651748
2000-01-09   -0.360742
2000-01-10    0.400790
2000-01-11    1.232892
2000-01-12    0.125529
2000-01-13   -0.248999
2000-01-14   -1.132719
2000-01-15   -0.559028
2000-01-16    1.386871
2000-01-17   -1.504047
2000-01-18   -1.751864
2000-01-19   -0.749809
2000-01-20   -0.356348
2000-01-21   -0.990753
2000-01-22    0.321934
2000-01-23   -0.164490
2000-01-24   -0.164011
2000-01-25    0.004819
2000-01-26    0.375556
2000-01-27   -0.493563
2000-01-28   -1.493850
2000-01-29    0.096951
2000-01-30    0.075165
                ...
2002-08-28   -0.452668
2002-08-29   -0.873629
2002-08-30   -0.042224
2002-08-31   -0.241707
2002-09-01   -1.849062
2002-09-02   -2.952469
2002-09-03    0.496341
2002-09-04    0.194667
2002-09-05   -1.687401
2002-09-06   -1.160363
2002-09-07   -0.052266
2002-09-08    1.153956
2002-09-09   -1.945093
2002-09-10    1.609044
2002-09-11   -0.644979
2002-09-12    1.028523
2002-09-13    0.326162
2002-09-14   -1.497417
2002-09-15   -1.368915
2002-09-16    1.430972
2002-09-17    1.768515
2002-09-18   -0.284249
2002-09-19   -1.170157
2002-09-20   -0.397258
2002-09-21    1.750257
2002-09-22    0.450736
2002-09-23   -0.363829
2002-09-24   -1.321379
2002-09-25   -0.156868
2002-09-26   -0.602166
Freq: D, Length: 1000, dtype: float64

In [40]:
long_ts['2001']

2001-01-01   -0.419947
2001-01-02    0.493214
2001-01-03    0.157318
2001-01-04   -0.134558
2001-01-05   -0.036000
2001-01-06   -0.404291
2001-01-07   -0.642211
2001-01-08   -0.232097
2001-01-09   -0.296517
2001-01-10    0.307054
2001-01-11   -0.801917
2001-01-12   -0.532508
2001-01-13   -0.370997
2001-01-14   -1.034162
2001-01-15    0.815581
2001-01-16    0.376366
2001-01-17   -0.977139
2001-01-18   -0.926400
2001-01-19   -1.328766
2001-01-20    1.072829
2001-01-21    1.507954
2001-01-22    0.578354
2001-01-23    1.270005
2001-01-24    1.263136
2001-01-25    0.218119
2001-01-26    1.201516
2001-01-27   -0.639222
2001-01-28    1.837564
2001-01-29   -0.245453
2001-01-30   -0.931042
                ...
2001-12-02    0.239619
2001-12-03    0.630912
2001-12-04   -0.126487
2001-12-05    0.879855
2001-12-06   -0.762192
2001-12-07    0.109719
2001-12-08    0.493626
2001-12-09    0.578846
2001-12-10   -1.981968
2001-12-11   -0.928546
2001-12-12    0.686433
2001-12-13    2.518434
2001-12-14   -0.436876
2001-12-15   -0.173123
2001-12-16    0.555102
2001-12-17    0.169801
2001-12-18   -1.052436
2001-12-19    0.129965
2001-12-20    0.331254
2001-12-21   -0.659300
2001-12-22   -0.406954
2001-12-23   -0.415876
2001-12-24    0.506933
2001-12-25   -0.613295
2001-12-26   -0.776715
2001-12-27   -0.997200
2001-12-28    2.082048
2001-12-29    0.671175
2001-12-30    0.210256
2001-12-31    0.054043
Freq: D, Length: 365, dtype: float64

In [41]:
ts

2011-01-01   -0.740219
2011-01-02   -0.993307
2011-01-03   -0.756372
2011-01-04    0.414256
2011-01-05   -0.955890
2011-01-06   -0.684559
dtype: float64

In [42]:
ts[datetime(2011,1,3):]

2011-01-03   -0.756372
2011-01-04    0.414256
2011-01-05   -0.955890
2011-01-06   -0.684559
dtype: float64

In [43]:
ts.truncate(after='2011-1-3')

2011-01-01   -0.740219
2011-01-02   -0.993307
2011-01-03   -0.756372
dtype: float64

In [44]:
 #日期范围、频率、和移位

In [45]:
index = pd.date_range('2001-1-1','2001-12-30')

In [46]:
index

DatetimeIndex(['2001-01-01', '2001-01-02', '2001-01-03', '2001-01-04',
               '2001-01-05', '2001-01-06', '2001-01-07', '2001-01-08',
               '2001-01-09', '2001-01-10',
               ...
               '2001-12-21', '2001-12-22', '2001-12-23', '2001-12-24',
               '2001-12-25', '2001-12-26', '2001-12-27', '2001-12-28',
               '2001-12-29', '2001-12-30'],
              dtype='datetime64[ns]', length=364, freq='D')

In [47]:
index = pd.date_range('2001-1-1','2001-12-30',freq='BM')

In [48]:
index

DatetimeIndex(['2001-01-31', '2001-02-28', '2001-03-30', '2001-04-30',
               '2001-05-31', '2001-06-29', '2001-07-31', '2001-08-31',
               '2001-09-28', '2001-10-31', '2001-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [49]:
pd.date_range('2001-1-1 12:23:34',periods=5)

DatetimeIndex(['2001-01-01 12:23:34', '2001-01-02 12:23:34',
               '2001-01-03 12:23:34', '2001-01-04 12:23:34',
               '2001-01-05 12:23:34'],
              dtype='datetime64[ns]', freq='D')

In [50]:
pd.date_range('2001-1-1 12:23:34',periods=5,normalize=True)

DatetimeIndex(['2001-01-01', '2001-01-02', '2001-01-03', '2001-01-04',
               '2001-01-05'],
              dtype='datetime64[ns]', freq='D')

In [51]:
#频率和日期偏置

In [52]:
 from pandas.tseries.offsets import Hour,Minute

In [53]:
hour=Hour()

In [54]:
hour

In [55]:
pd.date_range('2001-1-1 12:23:34','2001-12-30',freq='4h')

DatetimeIndex(['2001-01-01 12:23:34', '2001-01-01 16:23:34',
               '2001-01-01 20:23:34', '2001-01-02 00:23:34',
               '2001-01-02 04:23:34', '2001-01-02 08:23:34',
               '2001-01-02 12:23:34', '2001-01-02 16:23:34',
               '2001-01-02 20:23:34', '2001-01-03 00:23:34',
               ...
               '2001-12-28 08:23:34', '2001-12-28 12:23:34',
               '2001-12-28 16:23:34', '2001-12-28 20:23:34',
               '2001-12-29 00:23:34', '2001-12-29 04:23:34',
               '2001-12-29 08:23:34', '2001-12-29 12:23:34',
               '2001-12-29 16:23:34', '2001-12-29 20:23:34'],
              dtype='datetime64[ns]', length=2175, freq='4H')

In [56]:
#移位

In [57]:
ts=pd.Series(np.random.randn(4),
            index=pd.date_range('1/1/2000',periods=4,freq='M'))

In [58]:
ts

2000-01-31    0.392978
2000-02-29    0.441470
2000-03-31    0.047072
2000-04-30   -2.852378
Freq: M, dtype: float64

In [59]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.392978
2000-04-30    0.441470
Freq: M, dtype: float64

In [60]:
ts.shift(-2)

2000-01-31    0.047072
2000-02-29   -2.852378
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [61]:
#重新采样和频率转换

In [63]:
rng=pd.date_range('2000-01-01',periods=100,freq='D')

In [64]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [65]:
ts

2000-01-01   -0.435515
2000-01-02    0.217235
2000-01-03    1.567678
2000-01-04    0.639983
2000-01-05    0.327594
2000-01-06   -1.502914
2000-01-07   -2.665125
2000-01-08    0.801576
2000-01-09    0.275194
2000-01-10   -0.441103
2000-01-11    1.472171
2000-01-12   -0.190578
2000-01-13    0.368221
2000-01-14    0.188878
2000-01-15    0.407654
2000-01-16    2.237116
2000-01-17    1.258250
2000-01-18    0.530601
2000-01-19    1.286465
2000-01-20    1.386144
2000-01-21   -0.576517
2000-01-22   -2.053931
2000-01-23    1.095202
2000-01-24   -0.822832
2000-01-25    0.310046
2000-01-26   -1.412194
2000-01-27    1.087814
2000-01-28   -0.265909
2000-01-29    0.417963
2000-01-30   -0.373093
                ...
2000-03-11    0.945060
2000-03-12   -1.195188
2000-03-13   -0.695215
2000-03-14    0.298834
2000-03-15    0.633017
2000-03-16   -0.712599
2000-03-17   -0.629283
2000-03-18   -0.576207
2000-03-19   -1.029779
2000-03-20   -0.673659
2000-03-21   -0.438424
2000-03-22    0.237517
2000-03-23    1.259671
2000-03-24    1.348378
2000-03-25   -0.046563
2000-03-26   -0.364280
2000-03-27    0.848092
2000-03-28   -0.981100
2000-03-29    0.676020
2000-03-30    0.021894
2000-03-31    0.432601
2000-04-01    1.181182
2000-04-02   -0.881214
2000-04-03   -0.503018
2000-04-04    0.795096
2000-04-05   -0.807214
2000-04-06   -0.995248
2000-04-07   -0.162475
2000-04-08    2.630146
2000-04-09   -1.874199
Freq: D, Length: 100, dtype: float64

In [66]:
ts.resample('M').mean()

2000-01-31    0.211118
2000-02-29   -0.042929
2000-03-31   -0.038293
2000-04-30   -0.068549
Freq: M, dtype: float64

In [67]:
rng=pd.date_range('2000-01-01',periods=12,freq='T')

In [68]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [69]:
ts

2000-01-01 00:00:00   -0.180896
2000-01-01 00:01:00    1.188635
2000-01-01 00:02:00    1.386312
2000-01-01 00:03:00   -0.412317
2000-01-01 00:04:00   -1.048303
2000-01-01 00:05:00   -0.212793
2000-01-01 00:06:00    0.193013
2000-01-01 00:07:00   -0.433998
2000-01-01 00:08:00   -0.855003
2000-01-01 00:09:00    0.882690
2000-01-01 00:10:00    0.182795
2000-01-01 00:11:00   -0.399212
Freq: T, dtype: float64

In [70]:
ts.resample('5min',closed='right').sum()

1999-12-31 23:55:00   -0.180896
2000-01-01 00:00:00    0.901534
2000-01-01 00:05:00   -0.030503
2000-01-01 00:10:00   -0.399212
Freq: 5T, dtype: float64

In [1]:
#高阶pandas

In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
values=pd.Series(['apple','orange','apple','apple']*2)

In [4]:
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [5]:
#pandas的category类型

In [6]:
df = pd.DataFrame({
    'key1':['a','a','b','b','a'],
    'key2':['one','two','one','two','one'],
    'data1': np.random.randn(5),
    'data2': np.random.randn(5)
})

In [7]:
df

  key1 key2     data1     data2
0    a  one  0.666921 -0.135733
1    a  two  0.644608  0.746175
2    b  one -0.177934 -1.164310
3    b  two -0.037836 -0.071601
4    a  one -0.074153 -1.122931

In [8]:
type1=df['key1'].astype('category')

In [9]:
type1

0    a
1    a
2    b
3    b
4    a
Name: key1, dtype: category
Categories (2, object): [a, b]

In [10]:
my_cate=pd.Categorical(['apple','orange','apple','apple'])

In [11]:
my_cate

[apple, orange, apple, apple]
Categories (2, object): [apple, orange]

In [12]:
#使用category对象进行计算

In [13]:
np.random.seed(12345)

In [14]:
draws=np.random.randn(1000)

In [15]:
draws[:5]

array([-0.20470766,  0.47894334, -0.51943872, -0.5557303 ,  1.96578057])

In [16]:
bins=pd.qcut(draws,4)

In [17]:
bins=pd.qcut(draws,4,labels=['Q1','Q2','Q3','Q4'])

In [18]:
bins

[Q2, Q3, Q2, Q2, Q4, ..., Q3, Q2, Q1, Q3, Q4]
Length: 1000
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [19]:
bins=pd.Series(bins,name='quartile')

In [24]:
bins[:10]

0    Q2
1    Q3
2    Q2
3    Q2
4    Q4
5    Q4
6    Q3
7    Q3
8    Q4
9    Q4
Name: quartile, dtype: category
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [27]:
res=pd.Series(draws)
res[:10]

0   -0.204708
1    0.478943
2   -0.519439
3   -0.555730
4    1.965781
5    1.393406
6    0.092908
7    0.281746
8    0.769023
9    1.246435
dtype: float64

In [26]:
res.groupby(bins).agg(['count','min','max']).reset_index()

  quartile  count       min       max
0       Q1    250 -2.949343 -0.685484
1       Q2    250 -0.683066 -0.010115
2       Q3    250 -0.010032  0.628894
3       Q4    250  0.634238  3.927528